# ATM cudf uses pandas >=0.25,<0.26 pinning
thrift==0.13.0
pyarrow==0.15.0
pandas>=0.25,<0.26
sqlalchemy
numpy
numpydoc
coverage
flake8
pre-commit
pytest
pytest-cov
pytest-mock
shapely
numba
rbc-project==0.2.2
